/* *{
    background-color: rgb(144, 167, 190);
   
}
.main{border: solid #005ce6 2px;
    border-radius: 5px;
    width:50%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 70px;
    background: ghostwhite;
}
/* .clr{
    background-color: #fff;
    border-bottom: solid #005ce6 2px;
    
} */
 
